img {
    width: 300px;
}
body {
    text-align: center;
    background-color: #c6f2e8;
}
.answer {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-family: 'Righteous', cursive;
}
h2 {
    font-family: 'Righteous', cursive;
}